<div id="navigation">
  <ul>
    <li><%= link_to 'Home', '/index.html' %></li>
    <li><%= link_to 'About Us', '/about.html' %></li>
    <li><%= link_to 'Contact Us', '/contact.html' %></li>
  </ul>
</div>
