---
title: Contact Us
---

<!-- Add your site or application content here -->
<%= partial "partials/header" %>
<%= partial "partials/navigation" %>
<div id="bodycontent">
  <h2>Contact Us</h2>
  <p><span class="companyname">Site Training</span> is for playing with Middleman, HTML, and CSS.</p>
  <p>To find out more, contact <%= lorem.words 4 %>, or 
    <%= link_to 'email us', 'mailto:warren@thewrightangle.com' %>
  </p>
</div>
