---
title: The Most Basic Webpage in the World
---

<!-- Add your site or application content here -->
<h1>Hello world!</h1>
<p><%= lorem.paragraphs 2%></p>
<p><%= lorem.paragraph %></p>
<h2>a list</h2>
<ul>
</ul>
<p><%= link_to 'playing with link_to', 'http://google.com' %></p>
